.App {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.icon-loading {
  animation: spin 1.5s linear infinite;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.spinner {
  display: grid;
  place-content: center;
  font-size: 4em;
  height: 64px;
  z-index: 100;

  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
